*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
:root {
  --main-text-color-dark: rgb(56, 56, 56);
  --main-text-color-light: rgb(228, 225, 224);
  --border-color: #777776;
  --button-background-hover: rgb(201, 96, 10);
}

.bg-image{  
  background-image: linear-gradient(
      rgba(122, 129, 131, 0.47),
      rgba(88, 88, 88, 0.53)
    ),
    url(./images/dark-clouds.jpg);
  transform: translate3d(0px, -27.7868%, 0px);
}
nav {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.logo {
  color: var(--main-text-color-dark);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: var(--main-text-color-dark);
  font-weight: 600;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: var(--main-text-color-dark);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--main-text-color-dark);
  margin: 5px;
  transition: all 0.3s ease;
}
.nav-links a:hover,
.nav-links a:focus,
.active {
  border-bottom: 2px solid var(--main-text-color-dark);
  box-shadow: 2px solid var(--main-text-color-dark);
  padding-bottom: 8px;
}

/* section home */
.home-background {
  background-image: linear-gradient(
      rgba(122, 129, 131, 0.47),
      rgba(88, 88, 88, 0.53)
    ),
    url(./images/sweden-bridge.jpg);
  height: 100vh;
  position: relative;
  width: 100%;
  background-position: 50% 0;
  opacity: 1;
  -webkit-background-size: cover;
}
.page-wrap {
  max-width: 1600px;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px black, 0 0 4em grey, 0 0 1em grey;
}

.page-wrap h1,
.page-wrap h2 {
  color: var(--main-text-color-light);
  font-weight: 400;
  text-align: center;
    /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}
.page-wrap h1 {
  font-size: 36px;
}
.page-wrap h2 {
  font-size: 26px;
}
.page-wrap a {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  display: block;
  color: var(--main-text-color-light);
  border: 2px solid var(--main-text-color-light);
  margin: 30px;
  padding: 20px 0;
  text-decoration: none;
  text-shadow: 1px 1px 2px black, 0 0 4em grey, 0 0 1em grey;
  box-shadow: 1px 1px 2px rgba(122, 129, 131, 0.11),
    0 0 1em rgba(122, 129, 131, 0.26), 0 0 1em rgba(56, 56, 56, 0.5);
  animation-name: appear;
  animation-duration: 5s;
}
.page-wrap a:hover,
.page-wrap a:focus,
.page-wrap a active {
  color: white;
  background: var(--button-background-hover);
}

/** Portfolio section*/
.portfolio-section {
  text-align: center;
  background: #fbfbfb;
  /**background-image: linear-gradient( rgba(122, 129, 131, 0), rgba(50, 52, 53, 0.85) ), url(./images/sweden.jpg);*/
}
.gallery {
  display: inline-block;
  margin: 60px 100px;
}
.header-container {
  font-size: 18px;
  letter-spacing: 3px;
  color: var(--main-text-color-light);
  line-height: 1.7em;
}
.project-container {
  min-height: 50vh;
  text-align: center;
  border-bottom: 1px solid #ebe7e7;
  width: 90%;
  margin: auto;
}
.button-learn-more {
  border: 2px solid var(--main-text-color-light);
  margin: 30px;
  padding: 20px 30px;
  text-decoration: none;
  min-width: 200px;
  display: inline-block;
  cursor: pointer;
}
.button-learn-more:hover {
  color: white;
  background: var(--button-background-hover);
}

.info-container p,
.info-container h1 {
  font-size: 18px;
  padding: 20px 10%;
  color: var(--main-text-color-light);
  line-height: 1.7em;
}

/*projects**/
.project-image {
  width: 600px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
}
.image-container {
  display: inline-block;
  position: relative;
}
.image-container:hover .project-image {
  cursor: pointer;
}

.image-container:hover .middle {
  opacity: 1;
}
.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(40, 41, 40, 0.747);
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.text-top {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 4em grey, 0 0 1em grey;
  font-size: 20px;
  padding: 16px 32px;
  letter-spacing: 2px;
}
.text-middle {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 4em grey, 0 0 1em grey;
  font-size: 16px;
  padding: 0 32px 32px 32px;
}
.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 170px;
  display: inline-block;
  border: 2px solid var(--main-text-color-light);
}
.text:hover {
  cursor: pointer;
  background: var(--button-background-hover);
}

/*  Modal  **/
.w3-content {
  position: relative;
  overflow: hidden;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: modalopen;
  animation-duration: 1s;
}

.hide-modal{
  animation-name: modalclose;
  animation-duration: 1s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  max-width: 800px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  right: 7px;
  top: 0;
}
.button-container {
  position: absolute;
  top: 60%;
  max-width: 800px;
  width: -webkit-fill-available;
}
.button-display-left {
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: 1px solid var(--main-text-color-light);
  color: var(--main-text-color-light);
  background: var(--button-background-hover);
}
.button-display-right {
  float: right;
  width: 50px;
  height: 40px;
  cursor: pointer;
  right: 0;
  border: 1px solid var(--main-text-color-light);
  color: var(--main-text-color-light);
  background: var(--button-background-hover);
}
.modal-description {
}
.modal-description h3 {
  padding-top: 30px;
}
.modal-description p {
  font-size: 16px;
  padding: 30px 0;
}
.company-link{
  text-decoration: none;
  background: no-repeat;
  border: none;
  padding: 0;
  color: var(--button-background-hover);
}
.modal-description .link {
  text-decoration: none;
  color: var(--main-text-color-light);
  background: var(--button-background-hover);
  border: 1px solid var(--main-text-color-light);
  padding: 8px 22px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* about me section **/
.my-description {
  text-align: center;
}
.about-description {
  padding: 60px 100px;
}
.description-container p {
  font-size: 28px;
  display: inline-block;
  position: relative;
  width: 500px;
  margin: 0 70px;
  font-family: "Kalam", cursive;
  top: -50px;
}
.hidden {
  opacity: 0;
}
.description-container {
  text-align: center;
}
.my-photo {
  width: 300px;
  display: inline-block;
  position: relative;
  animation-name: appear;
  animation-duration: 5s;
}
.info-container h4 {
  font-size: 20px;
  padding: 20px;
  font-weight: 200;
  padding: 30px 0 65px 0;
  color: var(--main-text-color-light);
}

.about-container {
  background: #ebe7e7;
  height: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #39393a;
}
.contact-container {
  min-height: 50vh;
}

h3.h2:after,
h3.h2:before {
  position: absolute;
  top: 50%;
  display: block;
  width: 30%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  content: "";
}

h3.h2:after,
h3.h2:before {
  position: absolute;
  top: 50%;
  display: block;
  width: 35%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  content: "";
}
h3.h2:after {
  right: 0;
}
h3.h2:before {
  left: 0;
}
h3.h2 {
  position: relative;
  margin: 0 10%;
  text-transform: uppercase;
  font-size: 30px;
}
.contact-container {
  padding: 100px 0;
  background: #49494c;
  color: var(--main-text-color-light);
  text-align: center;
}
.contact-container:before,
.contact-container:after {
  content: " ";
  display: table;
}
.contact-button {
  border: 1px solid grey;
  padding: 10px 30px;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
}
.contact-button img {
  font-size: 10px;
  width: 40px;
  margin: 0 20px 0 0;
}
.contact-button:hover {
  background: var(--button-background-hover);
}
.icons-panel {
  padding: 30px;
}
.icons-panel img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.made-by-container {
  background: rgb(26, 25, 25);
  color: var(--main-text-color-light);
  min-height: 4vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

/** screen 'max' */
@media only screen and (min-width: 1024px) {
  nav {
    position: sticky;
    box-shadow: 1px 1px 2px #00000008, 0 0 4em grey, 0 0 1em #808080d6;
    background: #f1f1f1;
  }
  .home-background {
    height: 93vh;
  }
}

/** screen 'middle' */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  nav {
    position: sticky;
    box-shadow: 1px 1px 2px #00000008, 0 0 4em grey, 0 0 1em #808080d6;
    background: #f1f1f1;
  }
  .nav-links {
    width: 60%;
  }
  .home-background {
    height: 93vh;
  }
  .my-photo {
    width: 300px;
  }
  .description-container p {
    font-size: 20px;
  }
}

/* mobile resolution landscape */
@media screen and (orientation: landscape) and (max-width: 812px) {
  .about-container{
    height: 9em;
  }
  .description-container p {
    font-size: 20px;
  }
}

/* mobile resolution portrait */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a:hover,
  .nav-links a:focus,
  .active {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 8px;
  }
  .nav-links a {
    color: var(--main-text-color-light);
    text-shadow: 1px 1px 2px black, 0 0 4em grey, 0 0 1em grey;
  }
  .burger {
    display: block;
  }
  .page-wrap h1 {
    font-size: 28px;
  }
  .page-wrap h2 {
    font-size: 20px;
  }
  figure img {
    padding: 50px 10px;
    width: 90%;
  }
  h3.h2 {
    font-size: 20px;
  }
  h3.h2:after,
  h3.h2:before {
    width: 30%;
  }
  .button-display-right, .button-display-left {
    width: 30px;
    height: 30px;
  }
  .modal-content{
    padding: 22px;
  }
  .description-container {
    max-width: 300px;
    display: inline-block;
  }
  .modal-description h3 {
    padding-top: 10px;
    font-size: 16px;
  }
  .modal-description p {
    padding: 20px 0;
    font-size: 14px;
}
.modal-description .link {
  font-size: 14px;
}
  .about-container {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-photo {
    width: 100%;
  }
  .about-description {
    padding: 30px;
    text-align: center;
  }
  .about-description p {
    padding: 10px;
    margin: 0;
    width: 300px;
    font-size: 16px;
    top: 0;
  }
  .project-image {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .gallery {
    margin: 0;
  }

  .portfolio-container {
    background: #ebe7e7;
    display: flex;
    justify-content: center;
    padding: 3.5em 0;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/** animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hide h1,
.hide h2,
.hide a {
  transform: scale(0);
  transition: transform 500ms linear;
}

.show h1,
.show h2,
.show a {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
